Repository faizirana/TimeManager: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --config frontend/eslint.config.mjs --max-warnings 50, prettier --write, eslint --fix --config backend/eslint.config.mjs --max-warnings 50

.lintstagedrc.json:

{
  "frontend/**/*.{js,jsx,ts,tsx}": [
    "eslint --fix --config frontend/eslint.config.mjs --max-warnings 50",
    "prettier --write"
  ],
  "backend/**/*.{js,cjs}": [
    "eslint --fix --config backend/eslint.config.mjs --max-warnings 50",
    "prettier --write"
  ],
  "*.{json,md,yml,yaml}": ["prettier --write"]
}

[KAN-120] FIX: rebase check + polish sidebar
  frontend/Dockerfile
  frontend/components/UI/FloatingMenu.tsx
  frontend/lib/hooks/useEmployeeStats.ts
  frontend/lib/hooks/useManagerStats.ts
  frontend/next.config.ts
Due: eslint --fix --config frontend/eslint.config.mjs --max-warnings 50, prettier --write

[KAN-120] FIX: rebase check + polish sidebar
  frontend/components/layout/Sidebar/Sidebar.tsx
Due: eslint --fix --config frontend/eslint.config.mjs --max-warnings 50, prettier --write

[KAN-120] FIX: rebase check + polish sidebar
  frontend/app/(dashboard)/layout.tsx
  frontend/components/layout/Sidebar/Sidebar.module.css
  frontend/components/layout/Sidebar/Sidebar.tsx
  frontend/package.json
  package-lock.json
Due: eslint --fix --config frontend/eslint.config.mjs --max-warnings 50, prettier --write

[KAN-124] FEAT: team member management and test improvements
  backend/models/Team.cjs
  frontend/__tests__/components/modals/user/AddUserModal.test.tsx
  frontend/__tests__/components/modals/user/EditUserModal.test.tsx
  frontend/__tests__/lib/hooks/useTeams.test.ts
  frontend/__tests__/lib/utils/teamTransformers.test.ts
  frontend/app/admin/teams/page.tsx
  frontend/components/modals/team/AddMembersModal.tsx
  frontend/components/modals/team/AddTeamModal.tsx
  frontend/components/modals/user/AddUserModal.tsx
  frontend/components/modals/user/EditUserModal.tsx
  frontend/lib/hooks/useTeams.ts
  frontend/lib/types/errorMessages.ts
Due: eslint --fix --config frontend/eslint.config.mjs --max-warnings 50, prettier --write, eslint --fix --config backend/eslint.config.mjs --max-warnings 50

[KAN-124] FEAT: add admin stats & improve dashboard UX
  backend/src/app.js
  backend/src/controllers/statsController.js
  backend/src/routes/statsRoutes.js
  backend/tests/statsRoutes.test.js
  frontend/__tests__/components/admin/AdminStats.test.tsx
  frontend/__tests__/lib/hooks/useAdminStats.test.ts
  frontend/__tests__/lib/hooks/useToast.test.ts
  frontend/__tests__/lib/services/stats/statsService.test.ts
  frontend/app/(dashboard)/teams/[id]/page.tsx
  frontend/app/(dashboard)/teams/page.tsx
  frontend/app/admin/layout.tsx
  frontend/app/admin/teams/page.tsx
  frontend/app/admin/timetables/page.tsx
  frontend/app/admin/users/page.tsx
  frontend/components/admin/AdminStats.tsx
  frontend/components/auth/LoginForm.tsx
  frontend/lib/hooks/useAdminStats.ts
  frontend/lib/hooks/useToast.ts
  frontend/lib/services/stats/statsService.ts
  frontend/lib/types/errorMessages.ts
  frontend/lib/utils/teamTransformers.ts
Due: eslint --fix --config frontend/eslint.config.mjs --max-warnings 50, prettier --write, eslint --fix --config backend/eslint.config.mjs --max-warnings 50

[KAN-130] FIX: Enhance documentation in the README
  README.md
Due: prettier --write

[KAN-130] FEAT: Ajout d'un guide utilisateur
  Documentation/Guide_utilisateur.pdf
  README.md
Due: prettier --write

[KAN-130] FIX: Update achievements
  Documentation/achievements.md
Due: prettier --write

[KAN-124] FIX: sidebar fixed position and scroll behavior
  frontend/app/(dashboard)/layout.tsx
  frontend/app/admin/layout.tsx
  frontend/components/UI/Table.tsx
  frontend/components/layout/Sidebar/Sidebar.tsx
  frontend/components/layout/Sidebar/SidebarItem.tsx
Due: eslint --fix --config frontend/eslint.config.mjs --max-warnings 50, prettier --write

[KAN-124] FEAT: add real-time team member clock status display
  backend/src/controllers/timeRecordingController.js
  backend/src/routes/authRoutes.js
  backend/src/routes/teamTimeRecordingRoutes.js
  backend/src/routes/timeRecordingRoutes.js
  frontend/__tests__/lib/utils/teamTransformers.test.ts
  frontend/app/(dashboard)/teams/[id]/page.tsx
  frontend/components/UI/ClockStatusIndicator.tsx
  frontend/lib/hooks/useTeamMembers.ts
  frontend/lib/hooks/useTeamTimeRecordings.ts
  frontend/lib/hooks/useUsers.ts
  frontend/lib/services/statusCalculator.ts
  frontend/lib/types/teams.ts
Due: eslint --fix --config frontend/eslint.config.mjs --max-warnings 50, prettier --write, eslint --fix --config backend/eslint.config.mjs --max-warnings 50

[KAN-124] FIX: resolve ESLint warnings
  frontend/app/admin/teams/page.tsx
  frontend/app/admin/timetables/page.tsx
  frontend/app/admin/users/page.tsx
  frontend/components/UI/FloatingMenu.tsx
  frontend/components/layout/Sidebar/Sidebar.tsx
  frontend/components/modals/user/EditUserModal.tsx
  frontend/lib/hooks/useEmployeeStats.ts
  frontend/lib/hooks/useManagerStats.ts
  frontend/lib/hooks/useTeams.ts
Due: eslint --fix --config frontend/eslint.config.mjs --max-warnings 50, prettier --write

[KAN-124] FIX: clockStatus type inference in useTeamMembers
  frontend/lib/hooks/useTeamMembers.ts
Due: eslint --fix --config frontend/eslint.config.mjs --max-warnings 50, prettier --write

[KAN-124] FIX: add missing clockStatus field in Member type
  frontend/components/layout/Sidebar/Sidebar.module.css
  frontend/lib/hooks/useTeamMembers.ts
  frontend/lib/utils/teamTransformers.ts
Due: eslint --fix --config frontend/eslint.config.mjs --max-warnings 50, prettier --write

[KAN-124] TEST: add clockStatus field in teamTransformers test
  frontend/__tests__/lib/utils/teamTransformers.test.ts
Due: eslint --fix --config frontend/eslint.config.mjs --max-warnings 50, prettier --write

Delete Documentation/Resources/Architecture.png
  Documentation/Resources/Architecture.png
Due: none

Add Architecture.png
  Documentation/Resources/Architecture.png
Due: none

Update README.md
  .github/workflows/ci.yml
  .github/workflows/protect-main.yml
  README.md
Due: prettier --write
