Repository faizirana/TimeManager: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --config frontend/eslint.config.mjs --max-warnings 50, prettier --write, eslint --fix --config backend/eslint.config.mjs --max-warnings 50

[KAN-122] FEAT: resolv backend workspace
  docker-compose.prod.yml
Due: prettier --write

[KAN-119] FEAT: add Component→Hook→Service architecture + stats
  backend/seeders/.gitkeep
  backend/seeders/20260107-add-complete-test-data.cjs
  backend/src/controllers/authController.js
  backend/src/controllers/teamController.js
  backend/src/controllers/timeRecordingController.js
  backend/src/routes/teamRoutes.js
  backend/src/routes/timeRecordingRoutes.js
  frontend/__tests__/components/team/TeamStats.test.tsx
  frontend/__tests__/components/timeRecording/TimeRecordingStats.test.tsx
  frontend/__tests__/lib/hooks/useDashboardTeams.test.tsx
  frontend/__tests__/lib/hooks/useTeamDetails.test.tsx
  frontend/__tests__/lib/hooks/useTeamMembers.test.tsx
  frontend/__tests__/lib/hooks/useTeamStats.test.tsx
  frontend/__tests__/lib/hooks/useTeams.test.tsx
  frontend/__tests__/lib/hooks/useTimeRecordingStats.test.tsx
  frontend/__tests__/lib/services/teams/teamService.test.ts
  frontend/__tests__/lib/services/teams/teamsService.test.ts
  frontend/app/(dashboard)/dashboard/page.tsx
  frontend/components/UI/Skeleton.tsx
  frontend/components/UI/StatsSkeleton.tsx
  frontend/components/team/TeamStats.tsx
  frontend/components/timeRecording/TimeRecordingStats.tsx
  frontend/lib/hooks/useDashboardTeams.ts
  frontend/lib/hooks/useTeamDetails.ts
  frontend/lib/hooks/useTeamMembers.ts
  frontend/lib/hooks/useTeamStats.ts
  frontend/lib/hooks/useTeams.ts
  frontend/lib/hooks/useTimeRecordingStats.ts
  frontend/lib/services/teams/teamService.ts
  frontend/lib/services/teams/teamsService.ts
  frontend/lib/services/timeRecording/timeRecordingService.ts
  frontend/lib/services/users/usersService.ts
  frontend/lib/types/team.ts
  frontend/lib/types/teams.ts
  frontend/lib/types/timeRecording.ts
  package-lock.json
  package.json
Due: eslint --fix --config frontend/eslint.config.mjs --max-warnings 50, prettier --write, eslint --fix --config backend/eslint.config.mjs --max-warnings 50

[KAN-122] FEAT: .env example adding
  .env.dev.example
  .env.prod.example
  .gitignore
  backend/seeders/20260107-add-complete-test-data.cjs
  frontend/.env.local.example
Due: prettier --write, eslint --fix --config backend/eslint.config.mjs --max-warnings 50

[KAN-122] FEAT: .env example adding
  .gitignore
  frontend/.env.local.example
Due: none

[KAN-129] FEAT: profil page and auto disconnect
  frontend/app/(dashboard)/layout.tsx
  frontend/app/(dashboard)/profile/page.tsx
  frontend/app/(dashboard)/teams/[id]/page.tsx
  frontend/app/(dashboard)/teams/page.tsx
  frontend/components/UI/RoleBadge.tsx
  frontend/components/profile/ProfileEditForm.tsx
  frontend/components/profile/ProfileView.tsx
  frontend/lib/hooks/useDashboardTeams.ts
  frontend/lib/hooks/useTeamStats.ts
  frontend/lib/services/teams/teamService.ts
  frontend/lib/services/users/usersService.ts
  frontend/lib/types/team.ts
  frontend/lib/types/teams.ts
  frontend/lib/types/user.ts
Due: eslint --fix --config frontend/eslint.config.mjs --max-warnings 50, prettier --write

[KAN-129] FIX: lint logic
  frontend/app/(dashboard)/dashboard/page.tsx
  frontend/app/(dashboard)/profile/page.tsx
  frontend/lib/hooks/useTeams.ts
Due: eslint --fix --config frontend/eslint.config.mjs --max-warnings 50, prettier --write

[KAN-129] FIX: test logic
  frontend/__tests__/components/UI/RoleBadge.test.tsx
Due: eslint --fix --config frontend/eslint.config.mjs --max-warnings 50, prettier --write

[KAN-129] FIX: production build eslint config and User type
  frontend/Dockerfile
  frontend/components/teams/AddMembersModal.tsx
Due: eslint --fix --config frontend/eslint.config.mjs --max-warnings 50, prettier --write

[KAN-129] FIX: production build eslint config and User type
  frontend/components/teams/EditTeamModal.tsx
Due: eslint --fix --config frontend/eslint.config.mjs --max-warnings 50, prettier --write

[KAN-129] FIX: update node version
  backend/Dockerfile
  backend/Dockerfile.dev
  frontend/Dockerfile
  frontend/Dockerfile.dev
Due: none

[KAN-129] FIX: error with operator
  frontend/app/(dashboard)/profile/page.tsx
  frontend/lib/hooks/useTeamMembers.ts
Due: eslint --fix --config frontend/eslint.config.mjs --max-warnings 50, prettier --write

[KAN-129] FIX: error with operator
  frontend/lib/hooks/useTeams.ts
Due: eslint --fix --config frontend/eslint.config.mjs --max-warnings 50, prettier --write

[KAN-129] FIX: error with operator
  frontend/__tests__/lib/hooks/useTeams.test.tsx
Due: eslint --fix --config frontend/eslint.config.mjs --max-warnings 50, prettier --write

[KAN-129] FIX: Edit profil multi edit errors
  backend/migrations/20260110-make-mobile-number-optional.cjs
  backend/models/User.cjs
  backend/src/controllers/authController.js
  backend/src/controllers/userController.js
  backend/tests/authRoutes.test.js
  backend/tests/user.test.js
  backend/tests/userRoutes.test.js
  frontend/__tests__/components/profile/ProfileEditForm.test.tsx
  frontend/__tests__/lib/hooks/useTableSort.test.tsx
  frontend/__tests__/lib/services/users/usersService.test.ts
  frontend/components/profile/ProfileEditForm.tsx
  frontend/lib/types/user.ts
Due: eslint --fix --config frontend/eslint.config.mjs --max-warnings 50, prettier --write, eslint --fix --config backend/eslint.config.mjs --max-warnings 50

[KAN-119] FEAT: add statistics dashboard with charts and tests
  backend/.env
  frontend/__tests__/components/statistics/EmployeeStats.test.tsx
  frontend/__tests__/components/statistics/ManagerStats.test.tsx
  frontend/__tests__/components/statistics/charts/HoursLineChart.test.tsx
  frontend/__tests__/components/statistics/charts/PresenceHeatmap.test.tsx
  frontend/__tests__/components/statistics/charts/PunctualityGauge.test.tsx
  frontend/__tests__/components/statistics/charts/TeamStackedBar.test.tsx
  frontend/__tests__/lib/hooks/useEmployeeStats.test.tsx
  frontend/__tests__/lib/hooks/useManagerStats.test.tsx
  frontend/app/(dashboard)/layout.tsx
  frontend/app/(dashboard)/statistics/page.tsx
  frontend/app/(dashboard)/teams/page.tsx
  frontend/components/statistics/EmployeeStats.tsx
  frontend/components/statistics/ManagerStats.tsx
  frontend/components/statistics/charts/HoursLineChart.tsx
  frontend/components/statistics/charts/PresenceHeatmap.tsx
  frontend/components/statistics/charts/PunctualityGauge.tsx
  frontend/components/statistics/charts/TeamStackedBar.tsx
  frontend/jest.setup.ts
  frontend/lib/hooks/useEmployeeStats.ts
  frontend/lib/hooks/useManagerStats.ts
  frontend/package.json
  package-lock.json
Due: eslint --fix --config frontend/eslint.config.mjs --max-warnings 50, prettier --write

[KAN-119] FIX: correct Team import paths from team to teams
  frontend/app/(dashboard)/teams/page.tsx
  frontend/components/statistics/ManagerStats.tsx
Due: eslint --fix --config frontend/eslint.config.mjs --max-warnings 50, prettier --write

[KAN-61] FEAT: adding managerController and managerRoutes
  backend/seeders/20260107-add-complete-test-data.cjs
  backend/src/app.js
  backend/src/controllers/managerController.js
  backend/src/routes/managerRoutes.js
  package-lock.json
  package.json
Due: prettier --write, eslint --fix --config backend/eslint.config.mjs --max-warnings 50

[KAN-61] FEAT: adding managerRoutes test
  backend/tests/managerRoutes.test.js
Due: prettier --write, eslint --fix --config backend/eslint.config.mjs --max-warnings 50

Delete backend/.env
  backend/.env
Due: none

[KAN-61] FEAT: adding managerController and managerRoutes
  backend/.env
  backend/.env.test
  backend/seeders/20260107-add-complete-test-data.cjs
  backend/src/app.js
  backend/src/controllers/managerController.js
  backend/src/routes/managerRoutes.js
  package-lock.json
  package.json
Due: prettier --write, eslint --fix --config backend/eslint.config.mjs --max-warnings 50

[KAN-61] FIX: changing comment language
  backend/.env
  backend/.env.test
  backend/src/controllers/managerController.js
  backend/tests/managerRoutes.test.js
Due: prettier --write, eslint --fix --config backend/eslint.config.mjs --max-warnings 50

[KAN-61] FIX: changing comment language
  .env.dev.example
  .env.prod.example
Due: none

[KAN-120] FEAT: (OUIP) Adding Clockin page
  frontend/app/(dashboard)/clock-in/page.tsx
  frontend/app/(dashboard)/teams/page.tsx
  frontend/lib/hooks/useTimeRecordings.ts
Due: eslint --fix --config frontend/eslint.config.mjs --max-warnings 50, prettier --write

[KAN-120] FIX: test correct for left pannel retract
  frontend/__tests__/components/UI/FloatingMenu.test.tsx
  frontend/__tests__/components/layout/Sidebar/Sidebar.test.tsx
  frontend/__tests__/components/layout/Sidebar/SidebarItem.test.tsx
Due: eslint --fix --config frontend/eslint.config.mjs --max-warnings 50, prettier --write

[KAN-120] FIX: left pannel logic to move
  frontend/components/layout/Sidebar/Sidebar.tsx
Due: eslint --fix --config frontend/eslint.config.mjs --max-warnings 50, prettier --write

[KAN-120] FIX: profil black mode
  backend/src/controllers/authController.js
  backend/src/controllers/teamController.js
  backend/src/controllers/timeRecordingController.js
  backend/src/controllers/timetableController.js
  backend/src/controllers/userController.js
  backend/tests/authRoutes.test.js
  backend/tests/teamRoutes.test.js
  backend/tests/timeRecording.test.js
  backend/tests/timetableRoutes.test.js
  backend/tests/userRoutes.test.js
  frontend/__tests__/components/layout/Sidebar/Sidebar.test.tsx
  frontend/__tests__/lib/hooks/useAuth.test.tsx
  frontend/__tests__/lib/utils/apiClient.test.ts
  frontend/app/(dashboard)/clock-in/page.tsx
  frontend/app/(dashboard)/teams/page.tsx
  frontend/app/layout.tsx
  frontend/components/ToastContainer.tsx
  frontend/components/UI/FloatingMenu.tsx
  frontend/components/layout/Sidebar/Sidebar.tsx
  frontend/components/profile/ProfileEditForm.tsx
  frontend/components/teams/AddMembersModal.tsx
  frontend/components/teams/AddTeamModal.tsx
  frontend/components/teams/EditTeamModal.tsx
  frontend/lib/contexts/AuthContext.tsx
  frontend/lib/contexts/NotificationContext.tsx
  frontend/lib/hooks/useAuth.ts
  frontend/lib/hooks/useDashboardTeams.ts
  frontend/lib/hooks/useTeamStats.ts
  frontend/lib/hooks/useTeams.ts
  frontend/lib/hooks/useTimeRecordingStats.ts
  frontend/lib/hooks/useTimeRecordings.ts
  frontend/lib/services/errorService.ts
  frontend/lib/services/notificationService.ts
  frontend/lib/utils/apiClient.ts
Due: eslint --fix --config frontend/eslint.config.mjs --max-warnings 50, prettier --write, eslint --fix --config backend/eslint.config.mjs --max-warnings 50

[KAN-120] FIX: Clock in logic
  frontend/app/(dashboard)/clock-in/page.tsx
  frontend/components/ToastContainer.tsx
Due: eslint --fix --config frontend/eslint.config.mjs --max-warnings 50, prettier --write

[KAN-120] FIX: left pannel retract
  frontend/app/(dashboard)/layout.tsx
  frontend/components/UI/DarkModeSwitcher.tsx
  frontend/components/UI/FloatingMenu.tsx
  frontend/components/layout/Sidebar/Sidebar.tsx
  frontend/components/layout/Sidebar/SidebarItem.tsx
  frontend/lib/types/sidebar.ts
Due: eslint --fix --config frontend/eslint.config.mjs --max-warnings 50, prettier --write

[KAN-120] FEAT: Add logo and collapser for navbar
  frontend/components/layout/Sidebar/Sidebar.tsx
  frontend/public/logo.png
Due: eslint --fix --config frontend/eslint.config.mjs --max-warnings 50, prettier --write

[KAN-120] FIX: lint on leftPannel modif
  backend/src/controllers/timeRecordingController.js
  frontend/components/UI/FloatingMenu.tsx
  frontend/components/layout/Sidebar/Sidebar.tsx
Due: eslint --fix --config frontend/eslint.config.mjs --max-warnings 50, prettier --write, eslint --fix --config backend/eslint.config.mjs --max-warnings 50

[KAN-120] FEAT: Add logo as favicon
  frontend/app/favicon.ico
Due: none

[KAN-120] FIX: rebase check
  frontend/app/(dashboard)/clock-in/page.tsx
  frontend/components/statistics/ManagerStats.tsx
  frontend/lib/hooks/useEmployeeStats.ts
  frontend/lib/hooks/useManagerStats.ts
  frontend/package-lock.json
  frontend/package.json
  package-lock.json
Due: eslint --fix --config frontend/eslint.config.mjs --max-warnings 50, prettier --write

[KAN-120] FIX: rebase check + polish sidebar
  frontend/__tests__/components/layout/Sidebar/Sidebar.test.tsx
  frontend/components/layout/Sidebar/Sidebar.tsx
  frontend/components/layout/Sidebar/SidebarItem.tsx
  frontend/lib/types/sidebar.ts
Due: eslint --fix --config frontend/eslint.config.mjs --max-warnings 50, prettier --write

[KAN-120] FIX: rebase check + polish sidebar
  frontend/app/(dashboard)/layout.tsx
  frontend/components/layout/Sidebar/Sidebar.tsx
  frontend/components/layout/Sidebar/SidebarItem.tsx
Due: eslint --fix --config frontend/eslint.config.mjs --max-warnings 50, prettier --write

[KAN-120] FIX: rebase check + polish sidebar
  frontend/components/layout/Sidebar/SidebarItem.tsx
Due: eslint --fix --config frontend/eslint.config.mjs --max-warnings 50, prettier --write

[KAN-120] FIX: rebase check + polish sidebar
  frontend/lib/types/team.ts
Due: eslint --fix --config frontend/eslint.config.mjs --max-warnings 50, prettier --write

[KAN-120] FIX: rebase check + polish sidebar
  frontend/app/(dashboard)/teams/page.tsx
Due: eslint --fix --config frontend/eslint.config.mjs --max-warnings 50, prettier --write

[KAN-120] FIX: rebase check + polish sidebar
  .github/workflows/ci.yml
Due: prettier --write

Path conditions:
  eslint --fix --config frontend/eslint.config.mjs --max-warnings 50: any of: frontend/**/*.{js,jsx,ts,tsx}
  prettier --write: ((any of: frontend/**/*.{js,jsx,ts,tsx}) or (any of: backend/**/*.{js,cjs})) or (any of: *.{json,md,yml,yaml})
  eslint --fix --config backend/eslint.config.mjs --max-warnings 50: any of: backend/**/*.{js,cjs}
