Repository faizirana/TimeManager: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Fix config for swagger
  nginx/conf.d/default.conf
Due: none

KAN-66 [FEAT] TeamRoutes + swagger
  backend/models/Team.cjs
  backend/seeders/20251027120000-add-teamUsers.cjs
  backend/src/app.js
  backend/src/controllers/teamController.js
  backend/src/routes/teamRoutes.js
  backend/tests/teamRoutes.test.js
Due: eslint --fix, prettier --write

KAN-66 [FEAT] TeamRoutes + swagger
  backend/migrations/20250001-create-users.cjs
Due: eslint --fix, prettier --write

[KAN-66] FEAT: TeamRoutes + swagger
  package-lock.json
Due: prettier --write

[KAN-123] FIX: patch naming for teams migrate + correct path for npm test
  backend/jest.setup.js
  backend/migrations/20250004-create-team.cjs
  backend/server.js
Due: eslint --fix, prettier --write

[KAN-128] FEAT: Add Timetable route
  backend/models/TeamMember.cjs
  backend/models/TimeRecording.cjs
  backend/models/Timetable.cjs
  backend/models/User.cjs
  backend/package.json
  backend/src/app.js
  backend/src/controllers/timetableController.js
  backend/src/middleware/timetableMiddleware.js
  backend/src/routes/timetableRoutes.js
  backend/tests/timetableRoutes.test.js
  docker-compose.yml
  package-lock.json
Due: eslint --fix, prettier --write

[CR] 08/12/2025
  Documentation/CR/CR_08_12_25.md
Due: prettier --write

[CR] FIX: Change folders
  Documentation/CR_members/Kevin_Forsans/CR_08_12_25.md
  Documentation/CR_project/CR_08_12_25.md
  Documentation/CR_project/CR_10_10_25.md
Due: prettier --write

Create CR_08_12_25.MD
  Documentation/CR_members/Amine TAJ EDDINE/CR_08_12_25.MD
Due: none

Document CR 08/12/2025 activities and developments
  Documentation/CR_members/Amine TAJ EDDINE/CR_08_12_25.MD
Due: none

Update CR_08_12_25.MD with T-ESP-700 section
  Documentation/CR_members/Amine TAJ EDDINE/CR_08_12_25.MD
Due: none

[KAN-000] DOCS: blabla Code review updates (08/12/25)
  Documentation/CR_members/Gabriel Basso/CR_08_12_25.md
Due: prettier --write

[KAN-128] FEAT: Bilan d'activités journalière
  Documentation/CR_members/Theo_Laffage/CR_08_12_25.md
Due: prettier --write

[KAN-36] FEAT: add server POST request for user login
  frontend/app/(auth)/layout.tsx
  frontend/app/(auth)/login/LoginForm.tsx
  frontend/app/(auth)/login/page.tsx
  frontend/app/layout.tsx
  frontend/lib/Utils.ts
  frontend/lib/auth/jwt.ts
  frontend/lib/auth/useAuth.ts
  frontend/middleware.ts
  frontend/package.json
Due: eslint --fix, prettier --write

[KAN-112] TEST: Set up Jest testing infrastructure for frontend
  .lintstagedrc.json
  frontend/__mocks__/fileMock.js
  frontend/__mocks__/styleMock.js
  frontend/__tests__/lib/auth/authService.test.ts
  frontend/__tests__/setup.test.ts
  frontend/eslint.config.mjs
  frontend/jest.config.ts
  frontend/jest.setup.ts
  frontend/lib/auth/authService.ts
  frontend/lib/auth/types.ts
  frontend/lib/auth/useAuth.ts
  frontend/package.json
  package-lock.json
Due: eslint --fix, prettier --write

[KAN-36] FEAT: Create the Login Page, form, and main UI components
  frontend/app/(auth)/layout.tsx
  frontend/app/(auth)/login/LoginForm.tsx
  frontend/app/(auth)/login/page.tsx
  frontend/components/UI/Button.tsx
  frontend/components/UI/Input.tsx
  frontend/components/UI/Label.tsx
  frontend/lib/Utils.ts
Due: eslint --fix, prettier --write

[KAN-112] FIX: Resolve ESLint errors in test files and useAuth hook
  frontend/eslint.config.mjs
  frontend/lib/auth/useAuth.ts
Due: eslint --fix, prettier --write

[KAN-31] TEST: Add comprehensive frontend test suite
  frontend/__tests__/components/UI/Button.test.tsx
  frontend/__tests__/components/UI/Input.test.tsx
  frontend/__tests__/components/UI/Label.test.tsx
  frontend/__tests__/components/auth/LoginForm.test.tsx
  frontend/app/(auth)/login/LoginForm.tsx
  frontend/app/(auth)/login/page.tsx
  frontend/components/auth/LoginForm.tsx
  frontend/jest.config.ts
  frontend/jest.polyfills.js
  frontend/jest.setup.ts
Due: eslint --fix, prettier --write

[KAN-31] TEST: Improve test coverage to 98.82% with useAuth and JWT tests
  frontend/__tests__/lib/auth/jwt.test.ts
  frontend/__tests__/lib/auth/useAuth.test.ts
  frontend/jest.config.ts
  frontend/lib/auth/authService.ts
Due: eslint --fix, prettier --write

[KAN-112] TEST: Add UI component tests (Button, Input, Label)
  frontend/__tests__/components/UI/Button.test.tsx
  frontend/__tests__/components/UI/Input.test.tsx
  frontend/__tests__/components/UI/Label.test.tsx
Due: eslint --fix, prettier --write

[KAN-113] FIX: add Nginx proxy server to Swagger documentation
  backend/src/app.js
Due: eslint --fix, prettier --write

[KAN-31] FIX: Correct API endpoint path for authentication routes
  frontend/lib/auth/authService.ts
Due: eslint --fix, prettier --write

[KAN-31] FIX: middleware JWT verification and login enhancements
  frontend/components/auth/LoginForm.tsx
  frontend/lib/auth/jwt.ts
  frontend/middleware.ts
  frontend/package.json
  package-lock.json
Due: eslint --fix, prettier --write

[KAN-31] REFACTOR: reorganize lib/ folder structure
  frontend/__tests__/components/auth/LoginForm.test.tsx
  frontend/__tests__/lib/auth/authService.test.ts
  frontend/__tests__/lib/auth/jwt.test.ts
  frontend/__tests__/lib/auth/useAuth.test.ts
  frontend/app/(dashboard)/dashboard/page.tsx
  frontend/components/UI/Button.tsx
  frontend/components/UI/Input.tsx
  frontend/components/UI/Label.tsx
  frontend/components/auth/LoginForm.tsx
  frontend/lib/README.md
  frontend/lib/hooks/useAuth.ts
  frontend/lib/services/auth/authService.ts
  frontend/lib/services/auth/jwt.ts
  frontend/lib/types/auth.ts
  frontend/lib/utils/cn.ts
  frontend/middleware.ts
Due: eslint --fix, prettier --write

[KAN-31] TEST: update JWT tests and reorganize test structure
  frontend/__tests__/components/auth/LoginForm.test.tsx
  frontend/__tests__/lib/auth/jwt.test.ts
  frontend/__tests__/lib/hooks/useAuth.test.ts
  frontend/__tests__/lib/services/auth/authService.test.ts
  frontend/__tests__/lib/services/auth/jwt.test.ts
  frontend/components/auth/LoginForm.tsx
  frontend/jest.config.ts
  frontend/jest.polyfills.js
Due: eslint --fix, prettier --write

[KAN-117] FEAT: add auto-login with user notification
  frontend/app/(auth)/login/page.tsx
  frontend/components/UI/Toast.tsx
  frontend/components/auth/LoginForm.tsx
  frontend/lib/hooks/useAutoLogin.ts
  frontend/lib/services/auth/authService.ts
Due: eslint --fix, prettier --write

[KAN-117] TEST: add tests for auto-login feature
  frontend/__tests__/components/UI/Toast.test.tsx
  frontend/__tests__/lib/hooks/useAutoLogin.test.ts
  frontend/__tests__/lib/services/auth/authService.test.ts
Due: eslint --fix, prettier --write

[KAN-111] FIX: Correct auth logic + correct models manager_id foreign key
  backend/migrations/20250006-add-refreshToken-to-users.cjs
  backend/migrations/20250006-rename-teammember-columns.cjs
  backend/migrations/20250007-add-token-hash-fields.cjs
  backend/models/Team.cjs
  backend/models/TeamMember.cjs
  backend/models/TimeRecording.cjs
  backend/models/User.cjs
  backend/package.json
  backend/seeders/20251027120000-add-teamUsers.cjs
  backend/src/controllers/authController.js
  backend/src/controllers/teamController.js
  backend/src/controllers/userController.js
  backend/src/middleware/authMiddleware.js
  backend/src/routes/authRoutes.js
  backend/src/routes/teamRoutes.js
  backend/src/service/hashService.js
  backend/src/service/tokenService.js
  backend/tests/authRoutes.test.js
  backend/tests/teamRoutes.test.js
  package-lock.json
Due: eslint --fix, prettier --write

[KAN-20] FIX: generic lint format and test for CI
  .github/workflows/ci.yml
Due: prettier --write

[KAN-20] FIX: generic lint format and test for CI
  .github/workflows/ci.yml
  package.json
Due: prettier --write

[KAN-20] FIX: generic lint format and test for CI
  frontend/package.json
  package-lock.json
Due: prettier --write

[KAN-20] FIX: generic lint format and test for CI
  frontend/package.json
  package-lock.json
  package.json
Due: prettier --write

[KAN-20] FIX: generic lint format and test for CI
  .github/workflows/ci.yml
  backend/.env.example
  backend/jest.setup.js
Due: eslint --fix, prettier --write

[KAN-20] FIX: generic lint format and test for CI
  .github/workflows/ci.yml
  backend/config/config.cjs
  backend/jest.setup.js
  backend/package.json
Due: eslint --fix, prettier --write

[KAN-20] FIX: generic lint format and test for CI
  .github/workflows/ci.yml
  backend/jest.setup.js
  package.json
Due: eslint --fix, prettier --write

[KAN-20] FIX: generic lint format and test for CI
  backend/tests/authRoutes.test.js
Due: eslint --fix, prettier --write

[KAN-20] FIX: generic lint format and test for CI
  .github/workflows/ci.yml
  README.md
Due: prettier --write

Path conditions:
  eslint --fix: (any of: frontend/**/*.{js,jsx,ts,tsx}) or (any of: backend/**/*.{js,cjs})
  prettier --write: ((any of: frontend/**/*.{js,jsx,ts,tsx}) or (any of: backend/**/*.{js,cjs})) or (any of: *.{json,md,yml,yaml})
